#---------------------------------------------
# Moremore HTTP Server (https://zamronypj.github.io/moremore-http-server)
#
# @link https://github.com/zamronypj/moremore-http-server
#------------------------------------------------

#----------------------------------------------
# combine with Free Pascal default config
#----------------------------------------------
#IFDEF LINUX
    #INCLUDE /etc/fpc.cfg
#ENDIF

#----------------------------------------------
# include search path
# $MOREMORE_DIR$ environment variable contains directory
# where Moremore library resides
#----------------------------------------------
-Fi$MOREMORE_DIR$
-Fi$MOREMORE_DIR$/*
-Fi$MOREMORE_DIR$/src/core
-Fi$MOREMORE_DIR$/src/core/*
-Fi$MOREMORE_DIR$/src/net
-Fi$MOREMORE_DIR$/src/net/*
-Fi$MOREMORE_DIR$/src/lib
-Fi$MOREMORE_DIR$/src/lib/*
-Fi$MOREMORE_DIR$/src/crypt
-Fi$MOREMORE_DIR$/src/crypt/*

#----------------------------------------------
# Unit search path
# $MOREMORE_DIR$ environment variable contains directory
# where Moremore library resides
#----------------------------------------------
-Fu$MOREMORE_DIR$
-Fu$MOREMORE_DIR$/*
-Fu$MOREMORE_DIR$/src/core
-Fu$MOREMORE_DIR$/src/core/*
-Fu$MOREMORE_DIR$/src/net
-Fu$MOREMORE_DIR$/src/net/*
-Fu$MOREMORE_DIR$/src/lib
-Fu$MOREMORE_DIR$/src/lib/*
-Fu$MOREMORE_DIR$/src/crypt
-Fu$MOREMORE_DIR$/src/crypt/*
-Fu$MOREMORE_DIR$/static
-Fu$MOREMORE_DIR$/static/*
